<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATNTckAQzlT-1zQe3uVFrI6q8eZ09Xcr4</string>
	<key>GCM_SENDER_ID</key>
	<string>987511977342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.utiliwise</string>
	<key>PROJECT_ID</key>
	<string>utiliwise-9fe6f</string>
	<key>STORAGE_BUCKET</key>
	<string>utiliwise-9fe6f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987511977342:ios:f23023cdcc8683cf2e6f2f</string>
</dict>
</plist>